In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib as mpl
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv("heart.csv",index_col=0)
df.head()

,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
Age,,,,,,,,,,,
40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [12]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 40 to 38
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             918 non-null    object
 1   ChestPainType   918 non-null    object
 2   RestingBP       918 non-null    int64
 3   Cholesterol     918 non-null    int64
 4   FastingBS       918 non-null    int64
 5   RestingECG      918 non-null    object
 6   MaxHR           918 non-null    int64
 7   ExerciseAngina  918 non-null    object
 8   Oldpeak         918 non-null    float64
 9   ST_Slope        918 non-null    object
 10  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(5), object(5)
memory usage: 86.1+ KB

In [13]:
df.isnull().sum()

Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder
     

le=LabelEncoder()

In [27]:
df.Sex=le.fit_transform(df.Sex)
df['ChestPainType'].replace(['TA','ATA','NAP','ASY'],[0,1,2,3],inplace=True)
df['RestingECG'].replace(['Normal','ST','LVH'],[0,1,2],inplace=True)
df['ExerciseAngina'].replace(['N','Y'],[0,1],inplace=True)
df['ST_Slope'].replace(['Up','Flat','Down'],[0,1,2],inplace=True)
df['Sex'].replace(['M','F'],[0,1],inplace=True)
df.Sex=le.fit_transform(df.Sex)

In [28]:
df.head()

,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
Age,,,,,,,,,,,
40,1,1,140,289,0,0,172,0,0.0,0,0
49,0,2,160,180,0,0,156,0,1.0,1,1
37,1,1,130,283,0,1,98,0,0.0,0,0
48,0,3,138,214,0,0,108,1,1.5,1,1
54,1,2,150,195,0,0,122,0,0.0,0,0

In [30]:
df.HeartDisease=le.fit_transform(df.HeartDisease)

In [35]:
x = df.iloc[ : ,:11]
y=df['HeartDisease']

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=2)

In [37]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [38]:
y_pred = rf.predict(x_test)
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  1.0

linear regression

In [1]:
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
X = data.iloc[:, [0,1,2,3,4,5,6,7,8,9,10]].values 
y=data['HeartDisease']

In [41]:
y = df[['HeartDisease']]
x = df[['Cholesterol','FastingBS','RestingBP']]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
lr.fit(x_train, y_train)

LinearRegression()

In [44]:
y_pred=lr.predict(x_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

0.21033041809552946

In [ ]:
from numpy import array
df.RestingECG.unique()
array(['Normal','ST'], dtype=object)
pd.get_dummies(df['RestingECG']).head()

     LVH  Normal  ST
Age
40     0       1   0
49     0       1   0
37     0       0   1
48     0       1   0
54     0       1   0