In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.metrics import mean_squared_error, accuracy_score

In [2]:
df=pd.read_csv("heart.csv")

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [5]:
df[['ST_Slope']].value_counts()

ST_Slope
Flat        460
Up          395
Down         63
dtype: int64

In [6]:
df.keys()

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [7]:
df.shape

(918, 12)

In [8]:
from sklearn.preprocessing import LabelEncoder
Label_Encoder= LabelEncoder()
df['Sex'] = Label_Encoder.fit_transform(df['Sex'])
df['ChestPainType'] = Label_Encoder.fit_transform(df['ChestPainType'])
df['RestingECG'] = Label_Encoder.fit_transform(df['RestingECG'])
df['ExerciseAngina'] = Label_Encoder.fit_transform(df['ExerciseAngina'])
df['ST_Slope'] = Label_Encoder.fit_transform(df['ST_Slope'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 86.2 KB

In [10]:
df.describe()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,0.789760,0.781046,132.396514,198.799564,0.233115,0.989107,136.809368,0.404139,0.887364,1.361656,0.553377
std,9.432617,0.407701,0.956519,18.514154,109.384145,0.423046,0.631671,25.460334,0.490992,1.066570,0.607056,0.497414
min,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000
25%,47.000000,1.000000,0.000000,120.000000,173.250000,0.000000,1.000000,120.000000,0.000000,0.000000,1.000000,0.000000
50%,54.000000,1.000000,0.000000,130.000000,223.000000,0.000000,1.000000,138.000000,0.000000,0.600000,1.000000,1.000000
75%,60.000000,1.000000,2.000000,140.000000,267.000000,0.000000,1.000000,156.000000,1.000000,1.500000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,1.000000

Logistic Regression

In [11]:
X=df.drop(columns='HeartDisease', axis=1)
Y=df['HeartDisease']

In [12]:
print(X)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  RestingECG  \
0     40    1              1        140          289          0           1
1     49    0              2        160          180          0           1
2     37    1              1        130          283          0           2
3     48    0              0        138          214          0           1
4     54    1              2        150          195          0           1
..   ...  ...            ...        ...          ...        ...         ...
913   45    1              3        110          264          0           1
914   68    1              0        144          193          1           1
915   57    1              0        130          131          0           1
916   57    0              1        130          236          0           0
917   38    1              2        138          175          0           1

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope
0      172               0      0.0         2
1      156               0      1.0         1
2       98               0      0.0         2
3      108               1      1.5         1
4      122               0      0.0         2
..     ...             ...      ...       ...
913    132               0      1.2         1
914    141               0      3.4         1
915    115               1      1.2         1
916    174               0      0.0         1
917    173               0      0.0         2

[918 rows x 11 columns]

In [13]:
print(Y)

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [15]:
print(X.shape, X_train.shape, X_test.shape)

(918, 11) (734, 11) (184, 11)

In [16]:
m1 = LogisticRegression()

In [17]:
m1.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
m1_X_train_pred = m1.predict(X_train)
m1_training_data_accuracy = accuracy_score(m1_X_train_pred,Y_train)

In [19]:
print("Accuracy on training data:",m1_training_data_accuracy)

Accuracy on training data: 0.8501362397820164

In [20]:
m1_X_test_pred = m1.predict(X_test)
m1_test_data_accuracy = accuracy_score(m1_X_test_pred,Y_test)

In [21]:
print("Accuracy on testing data:",m1_test_data_accuracy)

Accuracy on testing data: 0.8532608695652174

In [22]:
mean_squared_error(m1_X_test_pred,Y_test)

0.14673913043478262

***KNN***

In [23]:
m2 = KNeighborsClassifier()
m2.fit(X_train,Y_train)

KNeighborsClassifier()

In [24]:
m2_X_train_pred = m2.predict(X_train)
m2_training_data_accuracy = accuracy_score(m2_X_train_pred,Y_train)
print("Accuracy on training data:",m2_training_data_accuracy)

Accuracy on training data: 0.7806539509536785

In [25]:
m2_X_test_pred = m2.predict(X_test)
m2_test_data_accuracy = accuracy_score(m2_X_test_pred,Y_test)
print("Accuracy on testing data:",m2_test_data_accuracy)
print("Mean Squared error is:", mean_squared_error(m2_X_test_pred,Y_test))

Accuracy on testing data: 0.7119565217391305
Mean Squared error is: 0.28804347826086957

***Decision Tree Classifier***

In [26]:
m3 = DecisionTreeClassifier()

In [27]:
m3.fit(X_train,Y_train)

DecisionTreeClassifier()

In [28]:
m3_X_train_pred = m3.predict(X_train)
m3_training_data_accuracy = accuracy_score(m3_X_train_pred,Y_train)

In [29]:
m3_X_test_pred = m3.predict(X_test)
m3_test_data_accuracy = accuracy_score(m3_X_test_pred,Y_test)
print("Accuracy on testing data:",m3_test_data_accuracy)

Accuracy on testing data: 0.8043478260869565

In [30]:
mean_squared_error(m3_X_test_pred,Y_test)

0.1956521739130435

***Random Forest***

In [31]:
m4 = RandomForestClassifier()
m4.fit(X_train,Y_train)

RandomForestClassifier()

In [32]:
m4_X_train_pred = m4.predict(X_train)
m4_training_data_accuracy = accuracy_score(m4_X_train_pred,Y_train)

In [33]:
m4_X_test_pred = m4.predict(X_test)
m4_test_data_accuracy = accuracy_score(m4_X_test_pred,Y_test)
print("Accuracy on testing data:",m4_test_data_accuracy)
print("Mean Squared error is:", mean_squared_error(m4_X_test_pred,Y_test))

Accuracy on testing data: 0.9021739130434783
Mean Squared error is: 0.09782608695652174

In [34]:
input_data = (40,1,1,140,289,0,1,172,0,0.0,2)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = m4.predict(input_data_reshaped)
print(prediction)

if(prediction[0] == 0):
  print("The person hasn't heart disease")
else:
  print("Person has heart disease")

[0]
The person hasn't heart disease

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

***SVM***

In [35]:
m5 = SVC(kernel='linear')
m5.fit(X_train,Y_train)

SVC(kernel='linear')

In [36]:
m5_X_train_pred = m5.predict(X_train)
m5_training_data_accuracy = accuracy_score(m5_X_train_pred,Y_train)

In [37]:
m5_X_test_pred = m5.predict(X_test)
m5_test_data_accuracy = accuracy_score(m5_X_test_pred,Y_test)
print("Accuracy on testing data:",m5_test_data_accuracy)
print("Mean Squared error is:", mean_squared_error(m5_X_test_pred,Y_test))

Accuracy on testing data: 0.8586956521739131
Mean Squared error is: 0.14130434782608695

In [38]:
import pickle
pickle.dump(m4, open('Random_forest_model.sav', 'wb'))

In [39]:
loaded_model = pickle.load(open('Random_forest_model.sav', 'rb'))

In [40]:
input_data = (57,0,1,120,236,0,0,174,0,0.0,1)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if(prediction[0] == 0):
  print("The person hasn't heart disease")
else:
  print("Person has heart disease")

[1]
Person has heart disease

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(